<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ReporteTickets</servlet-name>
        <servlet-class>pe.edu.pucp.tablesoft.servlets.ReporteTickets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteTicketCategoria</servlet-name>
        <servlet-class>pe.edu.pucp.tablesoft.servlets.ReporteTicketCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteTicketUrgencia</servlet-name>
        <servlet-class>pe.edu.pucp.tablesoft.servlets.ReporteTicketUrgencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteTicketAgente</servlet-name>
        <servlet-class>pe.edu.pucp.tablesoft.servlets.ReporteTicketAgente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteTicketEquipo</servlet-name>
        <servlet-class>pe.edu.pucp.tablesoft.servlets.ReporteTicketEquipo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReporteTickets</servlet-name>
        <url-pattern>/ReporteTickets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteTicketCategoria</servlet-name>
        <url-pattern>/ReporteTicketCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteTicketUrgencia</servlet-name>
        <url-pattern>/ReporteTicketUrgencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteTicketAgente</servlet-name>
        <url-pattern>/ReporteTicketAgente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteTicketEquipo</servlet-name>
        <url-pattern>/ReporteTicketEquipo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
