<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>RolWS</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PaisWS</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>BibliotecaWS</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ActivoFijoWS</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CategoriaWS</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AgenteWS</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>EquipoWS</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>TareaWS</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CiudadWS</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>EstadoTicketWS</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ProveedorWS</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>RolWS</servlet-name>
        <url-pattern>/RolWS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaisWS</servlet-name>
        <url-pattern>/PaisWS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BibliotecaWS</servlet-name>
        <url-pattern>/BibliotecaWS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivoFijoWS</servlet-name>
        <url-pattern>/ActivoFijoWS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriaWS</servlet-name>
        <url-pattern>/CategoriaWS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgenteWS</servlet-name>
        <url-pattern>/AgenteWS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipoWS</servlet-name>
        <url-pattern>/EquipoWS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TareaWS</servlet-name>
        <url-pattern>/TareaWS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CiudadWS</servlet-name>
        <url-pattern>/CiudadWS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstadoTicketWS</servlet-name>
        <url-pattern>/EstadoTicketWS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProveedorWS</servlet-name>
        <url-pattern>/ProveedorWS</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
